Axis-AOA-Crossline-counting-dashboard/AOA Occupancy Dashboard.json
[
    {
        "id": "a35bb99e4f8352a0",
        "type": "tab",
        "label": "AOA Occupancy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a26b7c4689b3230",
        "type": "mqtt in",
        "z": "a35bb99e4f8352a0",
        "name": "In Count",
        "topic": "axis/B8A44F558366/event/tns:axis/CameraApplicationPlatform/ObjectAnalytics/Device1Scenario4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "de02ff81bb1d72c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "57d8d3c54749f0c2",
                "c43d324aa2643c18"
            ]
        ]
    },
    {
        "id": "a6d335c99388ead1",
        "type": "mqtt in",
        "z": "a35bb99e4f8352a0",
        "name": "Out Count",
        "topic": "axis/B8A44F558366/event/tns:axis/CameraApplicationPlatform/ObjectAnalytics/Device1Scenario5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "de02ff81bb1d72c0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "a8db1becbb6b2e40",
                "5327d1fca4c64e4f"
            ]
        ]
    },
    {
        "id": "57d8d3c54749f0c2",
        "type": "change",
        "z": "a35bb99e4f8352a0",
        "name": "Car Count in total value (string)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message.data.totalCar",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "db8aaf4230b5f836"
            ]
        ]
    },
    {
        "id": "a8db1becbb6b2e40",
        "type": "change",
        "z": "a35bb99e4f8352a0",
        "name": "Car Count Out total value (string)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message.data.totalCar",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "80b3c3ea823d2e10"
            ]
        ]
    },
    {
        "id": "db8aaf4230b5f836",
        "type": "function",
        "z": "a35bb99e4f8352a0",
        "name": "Convert to number",
        "func": "msg.payload = parseInt(msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 160,
        "wires": [
            [
                "947a9daf3d6ea044"
            ]
        ]
    },
    {
        "id": "80b3c3ea823d2e10",
        "type": "function",
        "z": "a35bb99e4f8352a0",
        "name": "Convert to number",
        "func": "msg.payload = parseInt(msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "e82fb47a0d505ad4"
            ]
        ]
    },
    {
        "id": "947a9daf3d6ea044",
        "type": "change",
        "z": "a35bb99e4f8352a0",
        "name": "flow in",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "inCounter",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 100,
        "wires": [
            [
                "1d43dc2590d43302"
            ]
        ]
    },
    {
        "id": "e82fb47a0d505ad4",
        "type": "change",
        "z": "a35bb99e4f8352a0",
        "name": "flow out",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "outCounter",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 300,
        "wires": [
            [
                "1d43dc2590d43302"
            ]
        ]
    },
    {
        "id": "1d43dc2590d43302",
        "type": "function",
        "z": "a35bb99e4f8352a0",
        "name": "function 1",
        "func": "var inCounter = flow.get(\"inCounter\");\nvar outCounter = flow.get(\"outCounter\");\nvar addNumeric = flow.get(\"addNumeric\");\nmsg.payload = (outCounter - inCounter) + addNumeric;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "c115d70f8d2f889c",
                "31589df2cb4300d6",
                "79b49e38512cae26"
            ]
        ]
    },
    {
        "id": "c115d70f8d2f889c",
        "type": "debug",
        "z": "a35bb99e4f8352a0",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 260,
        "wires": []
    },
    {
        "id": "31589df2cb4300d6",
        "type": "mqtt out",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "topic": "camera1/AOAOccupancy",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "de02ff81bb1d72c0",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "79b49e38512cae26",
        "type": "ui_gauge",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "group": "b7f7235ca8f7d4e7",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Carpark Occupancy Estimate",
        "label": "Cars",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1300,
        "y": 140,
        "wires": []
    },
    {
        "id": "2f932da6bb1dc916",
        "type": "change",
        "z": "a35bb99e4f8352a0",
        "name": "flow out",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "addNumeric",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 360,
        "wires": [
            [
                "1d43dc2590d43302"
            ]
        ]
    },
    {
        "id": "c43d324aa2643c18",
        "type": "debug",
        "z": "a35bb99e4f8352a0",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 100,
        "wires": []
    },
    {
        "id": "5327d1fca4c64e4f",
        "type": "debug",
        "z": "a35bb99e4f8352a0",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 300,
        "wires": []
    },
    {
        "id": "0fb536fae5a046d8",
        "type": "ui_text_input",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "label": "Car count correction value",
        "tooltip": "",
        "group": "b7f7235ca8f7d4e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "2f932da6bb1dc916"
            ]
        ]
    },
    {
        "id": "89cca6d3a69242fd",
        "type": "Axis device",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "preset": "67c59cf379ed592a",
        "action": "HTTP Post",
        "cgi": "/local/objectanalytics/control.cgi",
        "data": "{\"apiVersion\":\"1.6\",\"context\":\"AOA_NATIVE_UI\",\"method\":\"resetAccumulatedCounts\",\"params\":{\"scenario\":1}}",
        "options": "",
        "filename": "",
        "x": 850,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9d66826c203ed3c6",
        "type": "ui_button",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "group": "b7f7235ca8f7d4e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Counts to 0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "89cca6d3a69242fd",
                "a687431e58693f8e"
            ]
        ]
    },
    {
        "id": "a687431e58693f8e",
        "type": "Axis device",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "preset": "67c59cf379ed592a",
        "action": "HTTP Post",
        "cgi": "/local/objectanalytics/control.cgi",
        "data": "{\"apiVersion\":\"1.6\",\"context\":\"AOA_NATIVE_UI\",\"method\":\"resetAccumulatedCounts\",\"params\":{\"scenario\":2}}",
        "options": "",
        "filename": "",
        "x": 850,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "1813b09a4fcca8cd",
        "type": "ui_switch",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "label": "Reset count at midnight",
        "tooltip": "",
        "group": "b7f7235ca8f7d4e7",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 620,
        "wires": [
            [
                "8adf7bd2e4dabde2"
            ]
        ]
    },
    {
        "id": "33a4679c45534661",
        "type": "Axis device",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "preset": "67c59cf379ed592a",
        "action": "HTTP Post",
        "cgi": "/local/objectanalytics/control.cgi",
        "data": "{\"apiVersion\":\"1.6\",\"context\":\"AOA_NATIVE_UI\",\"method\":\"setConfiguration\",\"params\":{\"devices\":[{\"id\":1,\"type\":\"camera\",\"isActive\":true,\"rotation\":0}],\"scenarios\":[{\"devices\":[{\"id\":1}],\"filters\":[{\"time\":1,\"type\":\"timeShortLivedLimit\"},{\"distance\":5,\"type\":\"distanceSwayingObject\"},{\"height\":3,\"type\":\"sizePercentage\",\"width\":3}],\"id\":2,\"metadataOverlay\":1,\"name\":\"AOA Drive\",\"objectClassifications\":[{\"type\":\"human\"},{\"subTypes\":[{\"type\":\"bus\"},{\"type\":\"car\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}],\"type\":\"vehicle\"}],\"triggers\":[{\"type\":\"includeArea\",\"vertices\":[[-0.97,-0.97],[-0.984,0.319],[-0.5002,0.492],[-0.2463,0.548],[0.007624,0.5836],[0.4964,0.5429],[0.9827,0.3971],[0.97,-0.97]]}],\"type\":\"motion\"},{\"devices\":[{\"id\":1}],\"filters\":[{\"time\":1,\"type\":\"timeShortLivedLimit\"},{\"distance\":5,\"type\":\"distanceSwayingObject\"},{\"height\":3,\"type\":\"sizePercentage\",\"width\":3}],\"id\":3,\"metadataOverlay\":1,\"name\":\"AOA Street\",\"objectClassifications\":[{\"type\":\"human\"},{\"subTypes\":[{\"type\":\"bus\"},{\"type\":\"car\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}],\"type\":\"vehicle\"}],\"triggers\":[{\"type\":\"includeArea\",\"vertices\":[[-0.9835,0.3907],[-0.97,0.97],[0.97,0.97],[0.9969,0.4215],[0.657,0.5351],[0.3171,0.6128],[-0.03637,0.6288],[-0.4167,0.5987]]}],\"type\":\"motion\"},{\"id\":4,\"name\":\"Carpark in\",\"devices\":[{\"id\":1}],\"objectClassifications\":[{\"type\":\"vehicle\",\"subTypes\":[{\"type\":\"car\"},{\"type\":\"bus\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}]},{\"type\":\"human\"}],\"metadataOverlay\":1,\"eventInterval\":{\"enabled\":false},\"passthroughConfiguration\":{\"enabled\":false,\"period\":1},\"accumulatedCounts\":{\"timedResetEnabled\":true},\"type\":\"crosslinecounting\",\"triggers\":[{\"type\":\"countingLine\",\"vertices\":[[0.3209,0.6538],[0.3239,0.9966]],\"countingDirection\":\"leftToRight\"}],\"filters\":[]},{\"id\":5,\"name\":\"Carpark out\",\"devices\":[{\"id\":1}],\"objectClassifications\":[{\"type\":\"vehicle\",\"subTypes\":[{\"type\":\"car\"},{\"type\":\"bus\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}]},{\"type\":\"human\"}],\"metadataOverlay\":1,\"eventInterval\":{\"enabled\":false},\"passthroughConfiguration\":{\"enabled\":false,\"period\":1},\"accumulatedCounts\":{\"timedResetEnabled\":true},\"type\":\"crosslinecounting\",\"triggers\":[{\"type\":\"countingLine\",\"vertices\":[[-0.3058,0.6135],[-0.3043,0.9785]],\"countingDirection\":\"rightToLeft\"}],\"filters\":[]}],\"metadataOverlay\":[{\"drawOnAllResolutions\":true,\"id\":1}]}}",
        "options": "",
        "filename": "",
        "x": 850,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "bf8227e9a0356ec5",
        "type": "Axis device",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "preset": "67c59cf379ed592a",
        "action": "HTTP Post",
        "cgi": "/local/objectanalytics/control.cgi",
        "data": "{\"apiVersion\":\"1.6\",\"context\":\"AOA_NATIVE_UI\",\"method\":\"setConfiguration\",\"params\":{\"devices\":[{\"id\":1,\"type\":\"camera\",\"isActive\":true,\"rotation\":0}],\"scenarios\":[{\"devices\":[{\"id\":1}],\"filters\":[{\"time\":1,\"type\":\"timeShortLivedLimit\"},{\"distance\":5,\"type\":\"distanceSwayingObject\"},{\"height\":3,\"type\":\"sizePercentage\",\"width\":3}],\"id\":2,\"metadataOverlay\":1,\"name\":\"AOA Drive\",\"objectClassifications\":[{\"type\":\"human\"},{\"subTypes\":[{\"type\":\"bus\"},{\"type\":\"car\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}],\"type\":\"vehicle\"}],\"triggers\":[{\"type\":\"includeArea\",\"vertices\":[[-0.97,-0.97],[-0.984,0.319],[-0.5002,0.492],[-0.2463,0.548],[0.007624,0.5836],[0.4964,0.5429],[0.9827,0.3971],[0.97,-0.97]]}],\"type\":\"motion\"},{\"devices\":[{\"id\":1}],\"filters\":[{\"time\":1,\"type\":\"timeShortLivedLimit\"},{\"distance\":5,\"type\":\"distanceSwayingObject\"},{\"height\":3,\"type\":\"sizePercentage\",\"width\":3}],\"id\":3,\"metadataOverlay\":1,\"name\":\"AOA Street\",\"objectClassifications\":[{\"type\":\"human\"},{\"subTypes\":[{\"type\":\"bus\"},{\"type\":\"car\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}],\"type\":\"vehicle\"}],\"triggers\":[{\"type\":\"includeArea\",\"vertices\":[[-0.9835,0.3907],[-0.97,0.97],[0.97,0.97],[0.9969,0.4215],[0.657,0.5351],[0.3171,0.6128],[-0.03637,0.6288],[-0.4167,0.5987]]}],\"type\":\"motion\"},{\"id\":4,\"name\":\"Carpark in\",\"devices\":[{\"id\":1}],\"objectClassifications\":[{\"type\":\"vehicle\",\"subTypes\":[{\"type\":\"car\"},{\"type\":\"bus\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}]},{\"type\":\"human\"}],\"metadataOverlay\":1,\"eventInterval\":{\"enabled\":false},\"passthroughConfiguration\":{\"enabled\":false,\"period\":1},\"accumulatedCounts\":{\"timedResetEnabled\":true},\"type\":\"crosslinecounting\",\"triggers\":[{\"type\":\"countingLine\",\"vertices\":[[0.3209,0.6538],[0.3239,0.9966]],\"countingDirection\":\"leftToRight\"}],\"filters\":[]},{\"id\":5,\"name\":\"Carpark out\",\"devices\":[{\"id\":1}],\"objectClassifications\":[{\"type\":\"vehicle\",\"subTypes\":[{\"type\":\"car\"},{\"type\":\"bus\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}]},{\"type\":\"human\"}],\"metadataOverlay\":1,\"eventInterval\":{\"enabled\":false},\"passthroughConfiguration\":{\"enabled\":false,\"period\":1},\"accumulatedCounts\":{\"timedResetEnabled\":true},\"type\":\"crosslinecounting\",\"triggers\":[{\"type\":\"countingLine\",\"vertices\":[[-0.3058,0.6135],[-0.3043,0.9785]],\"countingDirection\":\"rightToLeft\"}],\"filters\":[]}],\"metadataOverlay\":[{\"drawOnAllResolutions\":true,\"id\":1}]}}",
        "options": "",
        "filename": "",
        "x": 850,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "8adf7bd2e4dabde2",
        "type": "switch",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 620,
        "wires": [
            [
                "33a4679c45534661",
                "bf8227e9a0356ec5"
            ],
            [
                "b2c44317b38d4009",
                "c9b188eee836b0cd"
            ]
        ]
    },
    {
        "id": "c9b188eee836b0cd",
        "type": "Axis device",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "preset": "67c59cf379ed592a",
        "action": "HTTP Post",
        "cgi": "/local/objectanalytics/control.cgi",
        "data": "{\"apiVersion\":\"1.6\",\"con{\"apiVersion\":\"1.6\",\"context\":\"AOA_NATIVE_UI\",\"method\":\"setConfiguration\",\"params\":{\"devices\":[{\"id\":1,\"type\":\"camera\",\"isActive\":true,\"rotation\":0}],\"scenarios\":[{\"devices\":[{\"id\":1}],\"filters\":[{\"time\":1,\"type\":\"timeShortLivedLimit\"},{\"distance\":5,\"type\":\"distanceSwayingObject\"},{\"height\":3,\"type\":\"sizePercentage\",\"width\":3}],\"id\":2,\"metadataOverlay\":1,\"name\":\"AOA Drive\",\"objectClassifications\":[{\"type\":\"human\"},{\"subTypes\":[{\"type\":\"bus\"},{\"type\":\"car\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}],\"type\":\"vehicle\"}],\"triggers\":[{\"type\":\"includeArea\",\"vertices\":[[-0.97,-0.97],[-0.984,0.319],[-0.5002,0.492],[-0.2463,0.548],[0.007624,0.5836],[0.4964,0.5429],[0.9827,0.3971],[0.97,-0.97]]}],\"type\":\"motion\"},{\"devices\":[{\"id\":1}],\"filters\":[{\"time\":1,\"type\":\"timeShortLivedLimit\"},{\"distance\":5,\"type\":\"distanceSwayingObject\"},{\"height\":3,\"type\":\"sizePercentage\",\"width\":3}],\"id\":3,\"metadataOverlay\":1,\"name\":\"AOA Street\",\"objectClassifications\":[{\"type\":\"human\"},{\"subTypes\":[{\"type\":\"bus\"},{\"type\":\"car\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}],\"type\":\"vehicle\"}],\"triggers\":[{\"type\":\"includeArea\",\"vertices\":[[-0.9835,0.3907],[-0.97,0.97],[0.97,0.97],[0.9969,0.4215],[0.657,0.5351],[0.3171,0.6128],[-0.03637,0.6288],[-0.4167,0.5987]]}],\"type\":\"motion\"},{\"id\":4,\"name\":\"Carpark in\",\"devices\":[{\"id\":1}],\"objectClassifications\":[{\"type\":\"vehicle\",\"subTypes\":[{\"type\":\"car\"},{\"type\":\"bus\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}]},{\"type\":\"human\"}],\"metadataOverlay\":1,\"eventInterval\":{\"enabled\":false},\"passthroughConfiguration\":{\"enabled\":false,\"period\":1},\"accumulatedCounts\":{\"timedResetEnabled\":true},\"type\":\"crosslinecounting\",\"triggers\":[{\"type\":\"countingLine\",\"vertices\":[[0.3209,0.6538],[0.3239,0.9966]],\"countingDirection\":\"leftToRight\"}],\"filters\":[]},{\"id\":5,\"name\":\"Carpark out\",\"devices\":[{\"id\":1}],\"objectClassifications\":[{\"type\":\"vehicle\",\"subTypes\":[{\"type\":\"car\"},{\"type\":\"bus\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}]},{\"type\":\"human\"}],\"metadataOverlay\":1,\"eventInterval\":{\"enabled\":false},\"passthroughConfiguration\":{\"enabled\":false,\"period\":1},\"accumulatedCounts\":{\"timedResetEnabled\":false},\"type\":\"crosslinecounting\",\"triggers\":[{\"type\":\"countingLine\",\"vertices\":[[-0.3058,0.6135],[-0.3043,0.9785]],\"countingDirection\":\"rightToLeft\"}],\"filters\":[]}],\"metadataOverlay\":[{\"drawOnAllResolutions\":true,\"id\":1}]}}",
        "options": "",
        "filename": "",
        "x": 850,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b2c44317b38d4009",
        "type": "Axis device",
        "z": "a35bb99e4f8352a0",
        "name": "",
        "preset": "67c59cf379ed592a",
        "action": "HTTP Post",
        "cgi": "/local/objectanalytics/control.cgi",
        "data": "{\"apiVersion\":\"1.6\",\"context\":\"AOA_NATIVE_UI\",\"method\":\"setConfiguration\",\"params\":{\"devices\":[{\"id\":1,\"type\":\"camera\",\"isActive\":true,\"rotation\":0}],\"scenarios\":[{\"devices\":[{\"id\":1}],\"filters\":[{\"time\":1,\"type\":\"timeShortLivedLimit\"},{\"distance\":5,\"type\":\"distanceSwayingObject\"},{\"height\":3,\"type\":\"sizePercentage\",\"width\":3}],\"id\":2,\"metadataOverlay\":1,\"name\":\"AOA Drive\",\"objectClassifications\":[{\"type\":\"human\"},{\"subTypes\":[{\"type\":\"bus\"},{\"type\":\"car\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}],\"type\":\"vehicle\"}],\"triggers\":[{\"type\":\"includeArea\",\"vertices\":[[-0.97,-0.97],[-0.984,0.319],[-0.5002,0.492],[-0.2463,0.548],[0.007624,0.5836],[0.4964,0.5429],[0.9827,0.3971],[0.97,-0.97]]}],\"type\":\"motion\"},{\"devices\":[{\"id\":1}],\"filters\":[{\"time\":1,\"type\":\"timeShortLivedLimit\"},{\"distance\":5,\"type\":\"distanceSwayingObject\"},{\"height\":3,\"type\":\"sizePercentage\",\"width\":3}],\"id\":3,\"metadataOverlay\":1,\"name\":\"AOA Street\",\"objectClassifications\":[{\"type\":\"human\"},{\"subTypes\":[{\"type\":\"bus\"},{\"type\":\"car\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}],\"type\":\"vehicle\"}],\"triggers\":[{\"type\":\"includeArea\",\"vertices\":[[-0.9835,0.3907],[-0.97,0.97],[0.97,0.97],[0.9969,0.4215],[0.657,0.5351],[0.3171,0.6128],[-0.03637,0.6288],[-0.4167,0.5987]]}],\"type\":\"motion\"},{\"id\":4,\"name\":\"Carpark in\",\"devices\":[{\"id\":1}],\"objectClassifications\":[{\"type\":\"vehicle\",\"subTypes\":[{\"type\":\"car\"},{\"type\":\"bus\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}]},{\"type\":\"human\"}],\"metadataOverlay\":1,\"eventInterval\":{\"enabled\":false},\"passthroughConfiguration\":{\"enabled\":false,\"period\":1},\"accumulatedCounts\":{\"timedResetEnabled\":false},\"type\":\"crosslinecounting\",\"triggers\":[{\"type\":\"countingLine\",\"vertices\":[[0.3209,0.6538],[0.3239,0.9966]],\"countingDirection\":\"leftToRight\"}],\"filters\":[]},{\"id\":5,\"name\":\"Carpark out\",\"devices\":[{\"id\":1}],\"objectClassifications\":[{\"type\":\"vehicle\",\"subTypes\":[{\"type\":\"car\"},{\"type\":\"bus\"},{\"type\":\"motorcycle/bicycle\"},{\"type\":\"truck\"},{\"type\":\"unknown\"}]},{\"type\":\"human\"}],\"metadataOverlay\":1,\"eventInterval\":{\"enabled\":false},\"passthroughConfiguration\":{\"enabled\":false,\"period\":1},\"accumulatedCounts\":{\"timedResetEnabled\":false},\"type\":\"crosslinecounting\",\"triggers\":[{\"type\":\"countingLine\",\"vertices\":[[-0.3058,0.6135],[-0.3043,0.9785]],\"countingDirection\":\"rightToLeft\"}],\"filters\":[]}],\"metadataOverlay\":[{\"drawOnAllResolutions\":true,\"id\":1}]}}",
        "options": "",
        "filename": "",
        "x": 850,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "de02ff81bb1d72c0",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b7f7235ca8f7d4e7",
        "type": "ui_group",
        "name": "AOA Occupancy",
        "tab": "d6b1a3d839beee8e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "67c59cf379ed592a",
        "type": "Device Access",
        "name": "M1075-L",
        "address": "192.168.0.216",
        "protocol": "http"
    },
    {
        "id": "d6b1a3d839beee8e",
        "type": "ui_tab",
        "name": "AOA Occupancy",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]