Axis-people-counting-random-selector/Random Selector.json
[{"id":"4bb671719dc532eb","type":"tab","label":"Random Selector","disabled":false,"info":"","env":[]},{"id":"06cc9a1e5c9abcfb","type":"mqtt in","z":"4bb671719dc532eb","name":"","topic":"simqtt/acap/DirectionDetector-In","qos":"2","datatype":"json","broker":"4c44695746022c45","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":120,"wires":[["b77f447d98639e87"]]},{"id":"d361a62554eb9c6d","type":"debug","z":"4bb671719dc532eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"95c21c5769bc3f0c","type":"change","z":"4bb671719dc532eb","name":"","rules":[{"t":"set","p":"threshold","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":200,"wires":[[]]},{"id":"ef3411dcfb2d0e61","type":"inject","z":"4bb671719dc532eb","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":200,"wires":[["7c04b2b3a2772e40"]]},{"id":"7c04b2b3a2772e40","type":"change","z":"4bb671719dc532eb","name":"","rules":[{"t":"set","p":"inCounter","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[["9080afc09d9baa6c"]]},{"id":"b77f447d98639e87","type":"function","z":"4bb671719dc532eb","name":"","func":"var counter = flow.get(\"inCounter\");\ncounter++;\nflow.set(\"inCounter\",counter);\n\nif( counter < flow.get(\"threshold\") )\n    return;\n\nmsg.payload = \"Check!\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":120,"wires":[["7c04b2b3a2772e40","d361a62554eb9c6d"]]},{"id":"9080afc09d9baa6c","type":"random","z":"4bb671719dc532eb","name":"","low":"5","high":"10","inte":"true","property":"payload","x":860,"y":200,"wires":[["95c21c5769bc3f0c"]]},{"id":"37266d905602528e","type":"aedes broker","z":"4bb671719dc532eb","name":"MQTT Broker","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":130,"y":40,"wires":[["e0b29ef9a326db06"],[]]},{"id":"e0b29ef9a326db06","type":"debug","z":"4bb671719dc532eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":60,"wires":[]},{"id":"4c44695746022c45","type":"mqtt-broker","name":"NR Broker","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]